absl-py==2.4.0
affine==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==6.1.0
altgraph==0.17.4
annotated-types==0.6.0
anthropic==0.45.2
anyio==4.8.0
argcomplete==3.2.1
asgiref==3.8.1
asttokens==2.4.1
attrs==23.1.0
Automat==22.10.0
auxlib==0.0.43
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.3
blabel==0.1.6
blinker==1.7.0
bokeh==3.3.2
boto3==1.36.18
botocore==1.36.18
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.3
cachetools==7.0.6
certifi==2023.7.22
cffi==1.16.0
cftime==1.6.3
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
cleanvision==0.3.6
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
coloredlogs==15.0.1
colorir==2.0.1
colorlog==6.8.0
colormath==3.0.0
colour==0.1.5
constantly==23.10.4
contextily==1.4.0
contourpy==1.3.3
courlan==1.3.2
crashtest==0.4.1
credentials==1.1
cryptography==41.0.5
cssselect==1.2.0
cssselect2==0.7.0
cvzone==1.6.1
cycler==0.12.1
dataclasses-json==0.6.7
dateparser==1.2.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.7
distro==1.8.0
dnspython==2.4.2
docutils==0.20.1
docxtpl==0.20.2
dulwich==0.22.8
durationpy==0.9
dynaconf==3.2.11
EditorConfig==0.12.3
executing==2.0.1
fake-useragent==1.3.0
Faker==20.0.3
fastapi==0.115.11
fastjsonschema==2.21.1
ffmpeg==1.4
ffmpy==0.5.0
filelock==3.13.1
filetype==1.2.0
findpython==0.6.3
fiona==1.9.5
fireworks-ai==0.15.12
Flask==3.0.0
flatbuffers==25.12.19
fonttools==4.44.0
frozenlist==1.5.0
fsspec==2024.3.1
fuzzywuzzy==0.18.0
geckodriver-autoinstaller==0.1.0
geographiclib==2.0
geopandas==0.14.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.49
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.109.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
googlemaps==4.10.0
gradio==6.10.0
gradio_client==2.4.0
greenlet==3.1.1
groovy==0.1.2
grpcio==1.67.1
grpcio-status==1.67.1
gspread==5.12.0
h11==0.14.0
hf-gradio==0.3.0
hf-xet==1.4.2
html2text==2024.2.26
html5lib==1.1
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface_hub==1.8.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
ImageHash==4.3.1
imageio==2.33.0
imageio-ffmpeg==0.4.9
img2pdf==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.5.2
imutils==0.5.4
incremental==22.10.0
installer==0.7.0
intel-openmp==2021.4.0
ipython==8.18.1
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
Jinja2==3.1.2
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
jsbeautifier==1.14.11
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jusText==3.0.1
kaleido
Keras-Preprocessing==1.1.2
keyring==25.6.0
kiwisolver==1.4.5
kubernetes==32.0.1
langchain==0.3.20
langchain-anthropic==0.3.3
langchain-aws==0.2.12
langchain-community==0.3.19
langchain-core==0.3.43
langchain-fireworks==0.2.7
langchain-google-genai==2.0.8
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.6
langsmith==0.2.11
lazy_loader==0.3
Levenshtein==0.23.0
llvmlite==0.42.0
lmnr==0.4.60
lockfile==0.12.2
loguru==0.6.0
lxml==5.3.1
lxml_html_clean==0.4.1
MainContentExtractor==0.0.4
Markdown==3.5.1
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.33
mercantile==1.2.1
mingus==0.6.1
mkl==2021.4.0
mmh3==5.1.0
mobi==0.3.3
mock==5.1.0
monotonic==1.6
more-itertools==10.7.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==2.20.0
netCDF4==1.6.5
netron==8.3.0
networkx==3.2.1
nox==2023.4.22
numba==0.59.1
numpy==2.4.3
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.18.0
openai==1.61.1
opencv-python==4.13.0.92
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-langchain==0.38.5
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-sqlalchemy==0.51b0
opentelemetry-instrumentation-threading==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.51b0
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==3.0.1
parsel==1.8.1
parso==0.8.3
pbr==6.0.0
pbs-installer==2025.4.9
pefile==2024.8.26
pikepdf==9.3.0
Pillow==10.1.0
pkginfo==1.12.1.2
platformdirs==4.1.0
playwright==1.50.0
plotly==5.18.0
poetry==2.1.3
poetry-core==2.1.3
pooch==1.8.1
posthog==3.12.1
proglog==0.1.10
prompt-toolkit==3.0.41
propcache==0.2.1
Protego==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.0.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==24.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pychord==1.2.2
pycparser==2.21
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.2
PyDispatcher==2.0.7
pydub==0.25.1
pydyf==0.8.0
pyee==12.1.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.17.2
pygmt==0.10.0
pygsheets==2.0.6
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyMatting==1.1.12
pymongo==4.6.0
PyMsgBox==1.0.9
PyMuPDF==1.25.3
pynput==1.7.7
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyperclip==1.8.2
pyphen==0.14.0
PyPika==0.48.9
pypng==0.20220715.0
pyproj==3.6.1
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadline3==3.4.1
pyreadr==0.5.0
PyRect==0.2.0
PyScreeze==0.1.30
pyshine==0.0.6
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
PySocks==1.7.1
pyStrich==0.8
pytesseract==0.3.10
python-barcode==0.15.1
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-Levenshtein==0.23.0
python-multipart==0.0.20
pytube==15.0.0
pytube3==9.6.4
pytweening==1.0.7
pytz==2023.3.post1
PyWavelets==1.7.0
pywin32-ctypes==0.2.3
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==25.1.1
qrcode==7.4.2
qrcode-artistic==3.0.0
queuelib==1.6.2
rapidfuzz==3.6.1
rasterio==1.3.9
rawpy==0.25.1
referencing==0.35.1
regex==2023.10.3
rembg==2.0.57
requests==2.32.3
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.24.1
rich==13.9.4
rioxarray==0.15.0
rpds-py==0.18.1
rsa==4.9
ruff==0.9.10
s3transfer==0.11.2
safehttpx==0.1.7
scikit-image==0.22.0
scikit-learn==1.8.0
scipy==1.17.1
Scrapy==2.11.0
scrapy-fake-useragent==1.4.4
seaborn==0.13.0
segno==1.5.3
selenium==4.15.2
semantic-version==2.10.0
service-identity==23.1.0
setuptools==75.8.0
shapely==2.0.2
shellingham==1.5.4
shiboken6==6.11.0
simpleaudio==1.0.4
six==1.16.0
smmap==5.0.3
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.5.5
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
starlette==0.46.1
stereoscopy==2.0.1
stevedore==5.2.0
streamlit==1.57.0
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.2.3
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktoken==0.8.0
tinycss2==1.2.1
tld==0.13
tldextract==5.1.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.13.2
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
tornado==6.3.3
tqdm==4.66.1
trafilatura==2.0.0
traitlets==5.14.0
trio==0.23.1
trio-websocket==0.11.1
trove-classifiers==2025.5.1.12
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typer==0.15.2
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
ultralytics==8.3.5
ultralytics-thop==2.0.8
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.34.0
virtualenv==20.31.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
w3lib==2.1.2
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.12
weasyprint==60.2
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wheel==0.42.0
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
xarray==2023.11.0
xmltodict==0.14.2
xyzservices==2023.10.1
yarl==1.18.3
youtube-dl==2021.12.17
zipp==3.21.0
zope.interface==6.1
zopfli==0.2.3
zstandard==0.23.0
